<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Editar producto</title>
</head>

<%- include('./partials/header.ejs') %> 


<body>

  <main class="main-modificar">
     <div class="modificar-contain">
    <div class="detalle-producto-edit">
        <img src='/img/products/<%=product.image%>'  alt=<%= product.description %>  class="imagen-producto">
        

        <form action="/administrador/agregarProducto?_method=PUT" method="POST" enctype="multipart/form-data">
            <div>
                <label for="nuevo-producto">Nombre del producto</label> <br>
                <input type="text" class="ingresar-texto" name="name" placeholder=<%= product.name %>  required>
            </div>
            <div>
                <label for="descripcion-producto">Descripcion del producto</label><br>
                <textarea name="description" id="" cols="43" rows="5" class="descripcion-producto" required></textarea>
            </div>
            <div>
                <label for="insertar-imagen" class="label-insertar-img">Insertar imagen</label> <br> <br>
                <input type="file" name="imagenProductoModificado" required src="imagenProductoModificado" alt="img-producto-nuevo" class='file-select'>
            </div><br><br>
            <div>
                <label for="categoria-producto">Categoría</label><br>
                <select name="category" id="categoria-producto" class="ingresar-texto" >
                    <option value="remera">REMERA</option>
                    <option value="buzo">BUZO</option>
                    <option value="pantalon">PANTALON</option>
                    <option value="camisa">CAMISA</option>
                    <option value="malla">TRAJE DE BAÑO</option>
                    <option value="medias">MEDIAS</option>
                    <option value="gorra">GORRA</option>
                    <option value="campera">CAMPERA</option>
                    <option value="bermuda">BERMUDA</option>
                    <option value="sudadera">SUDADERA</option>
                    <option value="accesorio">ACCESORIO</option>
                </select>
            </div>
            <label>Talles disponibles:</label><br>
            <label for="XS">XS</label>
            <input type="checkbox" name="size" value="XS" id="XS">
            <label for="S">S</label>
            <input type="checkbox" name="size" value="S" id="S">
            <label for="M">M</label>
            <input type="checkbox" name="size" value="M" id="M">
            <label for="L">L</label>
            <input type="checkbox" name="size" value="L" id="L">
            <label for="XL">XL</label>
            <input type="checkbox" name="size" value="XL" id="XL">
            <label for="XXL">XXL</label>
            <input type="checkbox" name="size" value="XXL" id="XXL"><br>
            <div>
                <label for="descuento">Descuento</label><br>
                <input type="number" name="discount" class="ingresar-texto" placeholder= '<%=product.discount%>%'  >
            </div>
            <div>
                <label for="precio">Precio</label><br>
                <span>$  </span><input type="number" name="price" id="precio-producto" placeholder='<%= product.price %> ' class="ingresar-texto" required>
            </div>
            <button type="submit" class="modificar-button">
                GUARDAR CAMBIOS<i class="far fa-check-square"></i>
            </button>
        </form>

<!-- <form action="/administrador/modificarProducto?_method=PUT" method="POST">
    <span>Nombre de producto:</span><br>
    <input type="text" name="" value="Remera apretón" id=""><br>
    <span>Descripción del producto:</span><br><br>
    <textarea name="descripcion-editar" id="" cols="30" rows="5"></textarea> <br>
    <span>Precio: $</span>
    <input type="number" value="2000" name="" id=""><br>
    <label>Talles disponibles:</label><br>
    <label for="XS">XS</label>
    <input type="checkbox" name="size" value="XS" id="XS">
    <label for="S">S</label>
    <input type="checkbox" name="size" value="S" id="S">
    <label for="M">M</label>
    <input type="checkbox" name="size" value="M" id="M">
    <label for="L">L</label>
    <input type="checkbox" name="size" value="L" id="L">
    <label for="XL">XL</label>
    <input type="checkbox" name="size" value="XL" id="XL">
    <label for="XXL">XXL</label>
    <input type="checkbox" name="size" value="XXL" id="XXL"><br>
    
    <button type="submit" class="modificar-button">
        GUARDAR CAMBIOS<i class="far fa-check-square"></i>
    </button>
</form> -->
 </main>  

</body>

<%- include('./partials/footer.ejs') %> 


</html>

