<!DOCTYPE html>
<html lang="en">
     <%- include('./partials/head.ejs') %>
        <title>Remeras</title>

 <body>
    <%- include('./partials/header.ejs') %>
    <!-- <h1> <%= category.category + 's'%>  </h1> -->
    
    <main class="main-product">
        <section class="section-product">
            
            <% category.forEach(producto => { %>   
                <article class="article-product">
                    <a href="/productos/detalle/<%= producto.id %> ">
                 <img src="/img/products/<%= producto.image %>" alt="Imagen">
                 <h4> <%= producto.name %>  </h4>
                 <p>$<%= producto.price %> </p>
                 <% if(producto.discount > 0){ %> 
                 <p><%= producto.discount %>% de descuento </p>
                 <% }else{ %> 
                     <p> </p>
                     <% } %> 
                    </a>
                    </article>
            <% }) %> 
        </section>
     
    </main>
    <%- include('./partials/footer.ejs') %> 
 </body>
</html>