<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Editar producto</title>
</head>

<%- include('./partials/header.ejs') %> 


<body>

  <main class="main-modificar">
     <div class="modificar-contain">
    <div class="detalle-producto-edit">
       <% image.forEach(img => { %>
        <% if (img.product_id === productToEdit.id) { %>
            
            <img src='/img/products/<%=img.name%>'  alt=<%= productToEdit.description %>  class="imagen-producto">
        <% } %>
       <% }) %>
        

        <form action="/administrador/modificarProducto/<%= productToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div>
                <label for="nuevo-producto">Nombre del producto</label> <br>
                <input type="text" class="ingresar-texto" name="name" value='<%= productToEdit.name %>' required>
            </div>
            <div>
                <label for="descripcion-producto">Descripcion del producto</label><br>
                <textarea name="description" id="" cols="43" rows="5" class="descripcion-producto" required><%= productToEdit.description %> 
                </textarea>
            </div>
            <div>
                <label for="insertar-imagen" class="label-insertar-img">Insertar imágenes</label> <br> <br>
                <input type="file" name="imagenProductoModificado"  src="imagenProductoModificado" alt="img-producto-nuevo" class='file-select' multiple>
            </div><br><br>
            <div>
                <label for="categoria-producto">Categoría</label><br>
                <select name="category" id="categoria-producto" class="ingresar-texto" >
                    <% categories.forEach(category => { %>
                        
                        <option value="<%=category.id%>">  <%=category.name%></option>

                        <% }) %> 
                </select>
            </div>
            <div>
                <label for="">Talle</label><br>
                <% sizes.forEach(size => { %>
                 <input type="checkbox" name="<%= size.name %>" id="sizes">
                 <label for="sizes"><%= size.name %> </label>
                <% }) %>
            </div><br>
            <div>
                <label for="descuento">Descuento</label><br>
                <input type="number" name="discount" class="ingresar-texto" value=<%=productToEdit.discount%>  >%
            </div>
            <div>
                <label for="precio">Precio</label><br>
                <span>$  </span><input type="number" name="price" id="precio-producto" value= <%=productToEdit.price%>  class="ingresar-texto" required>
            </div>
            <button type="submit" class="modificar-button">
                GUARDAR CAMBIOS<i class="far fa-check-square"></i>
            </button>
        </form>
        <form action="/administrador/eliminar/<%= productToEdit.id %>?_method=DELETE" method="POST" >
             <button class="eliminar-button" enctype="multipart/form-data">ELIMINAR PRODUCTO <i class="far fa-times-circle"></i></button>
        </form>


 </main>  
    <%- include('./partials/footer.ejs') %> 
    <script type="text/javascript" src="../jquey/jquery-3.6.0.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>



</html>

